.additions-item {
  margin-bottom: 25px;
}

.additions-item__checkbox + label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    left: -42px;
    top: -5px;
    width: 30px;
    height: 30px;
    border: 1px solid $gray-640;
  }
}

.additions-item__checkbox:checked + label {
  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -36px;
    width: 18px;
    height: 14px;
    background-image: url("../img/icons/icon_checked.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
