.additional-goods-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    width: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
