.additional-goods-item {
  padding: 13px 0 19px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: $gray-600;

  &:nth-last-child(2) {
    margin-bottom: 39px;
  }

  @media (min-width: $tablet-width) {
    border: 1px solid $gray-640;
    padding-left: 39px;
    padding-right: 39px;

    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 896px;
    grid-column: 1 / 2;
    border: none;
    border-bottom: 1px solid $gray-640;

    &:first-child {
      border-top: 1px solid $gray-640;
    }

    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
}

.additional-goods-item__title {
  color: $black-800;
  font-family: $font-family-oswald;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0 0 13px 0;
}
