
.button {
  font-family: $font-family-oswald;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  color: $white-900;
  background-color: $green-900;
  text-transform: uppercase;

  padding: 7px 44px 7px 44px;
}
