.button {
  font-family: $font-family-oswald;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  color: $white-900;
  background-color: $green-900;
  text-transform: uppercase;
  display: block;
  text-align: center;

  padding: 7px;
}

.button--progams {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    display: inline;
    padding: 14px 26px;
    margin-left: 83px;
    position: absolute;
    top: 32px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 483px;
    left: 171px;
    margin: 0;
  }
}

.button--additions {
  border: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 282px;
    padding: 0;
  }
}

.button--goods {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}
