
.button {
  font-family: $font-family-oswald;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  color: $white-900;
  background-color: $green-900;
  text-transform: uppercase;
  display: block;
  text-align: center;

  padding: 7px;
}

.button--progams {
  margin-bottom: 22px;
}
