.cat-info {
  font-family: $font-family-oswald;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: $gray-700;
  display: flex;
  align-items: center;
}

.cat-info__input {
  flex-grow: 1;
  height: 46px;
  padding-left: 14px;
  text-transform: uppercase;
  border: 1px solid $gray-610;

  &:hover {
    border: 1px solid $gray-640;
  }

  &:focus {
    border: 1px solid $gray-700;
  }

  &:invalid:focus {
    outline: 2px solid $red-900;
  }
}

.cat-info__title {
  margin-right: 13px;
}
