.contacts-list {
  list-style: none;
  margin: 0 0 24px 0;
  padding: 0;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
  }
}
