.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 95px;
    padding-bottom: 104px;
    overflow: hidden;
  }
}

.contacts__info {
  padding: 28px 20px 28px 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    padding-right: 72px;
    padding-left: 72px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    min-height: 201px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin: 0;
    background-color: $white-900;
    padding: 66px 71px 50px;
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.contacts__wrapper--form {
  background-color: $gray-900;
}

.contacts--form {
  background-color: $gray-900;
}

.contacts--catalog {
  background-color: $gray-900;
}

.contacts__address {
  font-family: $font-family-arial;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 159px;
    font-size: 16px;
    line-height: 20px;
  }
}
