.contact-info {
  position: relative;
  font-family: $font-family-oswald;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: $gray-700;
  display: flex;
  align-items: center;
}

.contact-info__input {
  flex-grow: 1;
  height: 46px;
  padding-left: 14px;
  text-transform: uppercase;
  border: 1px solid $gray-610;
}

.contact-info__title {
  margin-right: 13px;
}

.contact-info--email {
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 249px;
    width: 19px;
    height: 14px;
    background-image: url("../img/icons/icon_email.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-width: $tablet-width) {
      left: 676px;
    }

    @media (min-width: $desktop-width) {
      left: 523px;
    }
  }
}

.contact-info--phone {
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 249px;
    width: 19px;
    height: 21px;
    background-image: url("../img/icons/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-width: $tablet-width) {
      left: 676px;
    }

    @media (min-width: $desktop-width) {
      left: 523px;
    }
  }


}
