.invitation-text {
  color: $black-800;
  font-family: $font-family-oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  margin: 0;
}

.contacts__info {
  padding: 28px 0 28px 0;
}

.contacts__address {
  color: $gray-700;
  font-family: $font-family-arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.contacts--form {
  background-color: $gray-900;
}
