.example {
  background-color: $gray-800;
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    background-color: inherit;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    padding: 0;
  }
}

.example__title {
  margin: 0 auto 63px auto;
  padding: 0 20px;
  color: $black-900;
  font-family: $font-family-oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 2;
    grid-column: 1;
    padding: 0 120px;
    margin-bottom: 76px;
    margin-left: 120px;
    padding-left: 0;
  }
}

.example__text {
  margin: 0 0 54px 0;
  color: $gray-700;
  font-family: $font-family-arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    z-index: 1;
    width: 436px;
    margin: 0 120px;
    padding-top: 73px;
  }
}
