.form-item {
  color: $gray-700;
  font-family: $font-family-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  border: none;
  padding: 0;

  &:nth-child(2) {
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin: 0 0 24px 0;
  }
}

.form-item__title {
  color: $black-900;
  font-family: $font-family-oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;

  margin: 0 0 35px 0;
}

.form-item__comment {
  margin: 0 0 23px 0;
  resize: none;
  width: 100%;
  min-height: 150px;
}
