.form-item {
  color: $gray-700;
  font-family: $font-family-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  border: none;
  padding: 0;

  &:nth-child(2) {
    margin: 0 0 24px 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29px;
  }
}

.form-item__title {
  position: relative;
  color: $black-900;
  font-family: $font-family-oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 0 35px 0;
  display: inline-flex;

  &::after {
    top: 11px;
    content: "";
    height: 2px;
    transform: translateX(100%);
    position: absolute;
    background-color: $green-900;
    width: 100vw;
    right: -22px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 11px;
      content: "";
      height: 2px;
      transform: translateX(-100%);
      position: absolute;
      background-color: $green-900;
      width: 100vw;
      left: 0;
    }
  }
}

.form-item__comment {
  margin: 0 0 23px 0;
  resize: none;
  width: 100%;
  min-height: 150px;
  border: 1px solid $gray-610;
  font-family: $font-family-oswald;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: $gray-700;
  text-transform: uppercase;
  text-align: center;
}
