.info__title {
  margin: 0 0 38px 0;
  color: $black-900;
  font-family: $font-family-oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.info__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
    column-gap: 153px;
    counter-reset: number 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.info__item {
  @media (min-width: $tablet-width) {
    position: relative;
    counter-increment: number;
    &::after {
      content: counter(number);
      position: absolute;
      top: -110px;
      left: 143px;
      z-index: -1;
      font-family: $font-family-oswald;
      font-weight: 400;
      font-style: normal;
      font-size: 112px;
      line-height: 280px;
      color: $gray-900;
    }
  }
}

.info__text {
  margin: 0 0 24px 0;
  color: $gray-700;
  font-family: $font-family-arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 230px;
  }
}
