.info {
  @media (min-width: $tablet-width) {
    min-height: 781px;
    border-bottom: 1px solid $gray-620;
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    min-height: 230px;
    margin-bottom: 11px;
  }
}

.info__title {
  margin: 0 0 38px 0;
  color: $black-900;
  font-family: $font-family-oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.info__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
    column-gap: 153px;
    counter-reset: number 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 94px;
    row-gap: 0;
  }
}

.info__item {
  margin: 0 22px 0 80px;
  position: relative;

  &:first-child {
    &::before {
      content: "";
      position: absolute;
      left: -78px;
      top: 1px;
      width: 60px;
      height: 60px;
      background-color: $green-900;
      background-image: url("../img/icons/icon_leaf.svg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  &:nth-child(2) {
    &::before {
      content: "";
      position: absolute;
      left: -78px;
      top: 1px;
      width: 60px;
      height: 60px;
      background-color: $green-900;
      background-image: url("../img/icons/icon_tub.svg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  &:nth-child(3) {
    &::before {
      content: "";
      position: absolute;
      left: -78px;
      top: 1px;
      width: 60px;
      height: 60px;
      background-color: $green-900;
      background-image: url("../img/icons/icon_eat.svg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  &:nth-child(4) {
    &::before {
      content: "";
      position: absolute;
      left: -78px;
      top: 1px;
      width: 60px;
      height: 60px;
      background-color: $green-900;
      background-image: url("../img/icons/icon_alarm.svg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    counter-increment: number;
    margin: 0;
    min-width: 247px;
    min-height: 280px;
    padding: 151px 0 0 0;

    &::after {
      content: counter(number);
      position: absolute;
      top: -3px;
      left: 85px;
      z-index: -1;
      font-family: $font-family-oswald;
      font-weight: 400;
      font-style: normal;
      font-size: 280px;
      line-height: 280px;
      color: $gray-900;
    }
  }
}

.info__text {
  margin: 0 0 24px 0;
  color: $gray-700;
  font-family: $font-family-arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 230px;
    margin: 0;
  }
}
