.intro {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    background-image: url("../img/green-background.svg"),
      url("../img/index-background-desktop-1.jpg");
    background-position: right, right;
    background-repeat: no-repeat;
    min-height: 694px;
    margin-bottom: 136px;
    padding: 0 120px;
    padding-top: 67px;
  }
}

.intro--form {
  background: none;
  min-height: 0;
  margin-bottom: 77px;
}

.intro--catalog {
  background: none;
  min-height: 0;
  margin-bottom: 77px;
}
