
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    gap: 33px;
  }
}

.main-nav__item {
  padding: 22px 0 22px 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid $gray-620;

  @media (min-width: $tablet-width) {
    border: none;
    padding-bottom: 10px;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 3px;
        background: $green-900;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      background: $white-900;
    }
  }
}

.main-nav__link {
  font-family: $font-family-oswald;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
  color: $black-900;
  text-transform: uppercase;

  &:hover {
    color: $black-900-rgba-06;
  }

  &:active {
    color: $black-900-rgba-03;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    color: $white-900;
    font-size: 20px;
    line-height: 29px;
    font-weight: 400;

    &:hover {
      color: $white-900-rgba-06;
    }

    &:active {
      color: $white-900-rgba-03;
    }
  }
}

.main-nav__item--form {
  @media (min-width: $desktop-width) {
    &::after {
      background: $green-900;
    }
  }
}
