.main-form__required-text {
  margin: 0 0 32px 0;
  padding: 21px 0 0 0;
  text-align: center;
}

.main-form__programs {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
