
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 33px;
  }
}

.main-nav__item {
  padding: 22px 0 22px 0;
}

.main-nav__link {
  font-family: $font-family-oswald;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
  color: $black-900;

  text-transform: uppercase;
}
