.page-header {
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    grid-column: 1 / -1;
    margin-bottom: 111px;
  }
}

.page-header__toggle {
  width: 24px;
  position: relative;
  border: none;
  background-color: inherit;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__toggle::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -1px;
  width: 24px;
  height: 2px;
  background-color: $black-900;
  box-shadow: 0 8px 0 0 $black-900, 0 16px 0 0 $black-900;
}

.page-header__logo {
  padding: 14px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray-620;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.page-header__link-img {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__link-logo-text {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header--form {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.page-header--catalog {
  margin-bottom: 27px;
}
