.page-header {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-header__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo {
  padding: 24px 0 24px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}
