.page-header {
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    grid-column: 1 / -1;
  }
}

.page-header__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray-620;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}
