.page-main {
  overflow-x: hidden;
}

.page-main__title {
  color: $black-900;
  font-family: $font-family-oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding: 0;
  margin: 0 0 37px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    grid-column: 1 / -1;
  }
}

.page-main__text {
  width: 226px;
  color: $black-900;
  font-family: $font-family-oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 0 39px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 323px;
  }
}
