@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    background-color: red;
  }
}

.page-header__logo {
  padding: 24px 0 24px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}
