.page-main__title {
  color: $black-900;
  font-family: $font-family-oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;

  padding: 0;
  margin: 0 0 37px 0;
}

.page-main__text {
  color: $black-900;
  font-family: $font-family-oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  margin: 0 0 39px 0;
}
