.program-list {
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 25px 0 25px 0;
  position: relative;
  margin-left: 55px;

  &::before {
    top: 1px;
    content: "";
    height: 1px;
    position: absolute;
    background-color: $gray-630;
    width: 100vw;
    right: 1px;
  }

  &::after {
    bottom: 1px;
    content: "";
    height: 1px;
    position: absolute;
    background-color: $gray-630;
    width: 100vw;
    right: 1px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 47px;
    margin-left: 0;
    border: 1px solid $gray-640;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }
}
