.programs {
  padding-top: 24px;
}

.programs__title {
  color: $black-900;
  font-family: $font-family-oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;

  margin: 0 0 29px 0;
}

.programs__desc {
  color: $gray-700;
  font-family: $font-family-arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  margin: 0 0 42px 0;
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.programs__item {
  background-color: $gray-900;
  padding: 30px 0 18px 0;
  margin: 0 0 20px 0;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.programs__link {
  color: $black-900;
  font-family: $font-family-oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}
