.programs {
  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
    position: unset;
  }
}

.programs__title {
  color: $black-900;
  font-family: $font-family-oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 29px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-bottom: 73px;
  }
}

.programs__title--weight-less {
  &::before {
    content: "";
    position: absolute;
    left: -14px;
    top: 1px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icons/cat_back_sfinx.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      left: 390px;
      top: 9px;
      width: 200px;
      height: 211px;
      background-image: url("../img/icons/cat_back_sfinx_tablet.svg");
    }

    @media (min-width: $desktop-width) {
      left: -2px;
      top: -31px;
      width: 100px;
      height: 106px;
      background-image: url("../img/icons/cat_back_sfinx_destop.svg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }
}

.programs__title--weight-get {
  &::before {
    content: "";
    position: absolute;
    left: -25px;
    top: 1px;
    width: 71px;
    height: 50px;
    background-image: url("../img/icons/cat_back_puma.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      left: 378px;
      top: 9px;
      width: 268px;
      height: 200px;
      background-image: url("../img/icons/cat_back_puma_tablet.svg");
    }

    @media (min-width: $desktop-width) {
      left: -25px;
      top: -28px;
      width: 134px;
      height: 100px;
      background-image: url("../img/icons/cat_back_puma_desktop.svg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }
}

.programs__desc {
  color: $gray-700;
  font-family: $font-family-arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 0 0 22px 0;
  border-bottom: 1px solid $gray-630;

  margin: 0 0 22px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item {
  background-color: $gray-900;
  padding: 22px;
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    padding: 77px 279px 53px 52px;
    background-color: $gray-900;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 77px 52px 45px 52px;
  }
}

.programs__link {
  color: $black-900;
  font-family: $font-family-oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 100px;
    top: 6px;
    width: 24px;
    height: 12px;
    background-image: url("../img/icons/icon_arrow.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      left: 134px;
      top: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.programs__banner {
  @media (min-width: $tablet-width) {
    min-height: 609px;
    background: url("../img/index-can-tablet-1.jpg") no-repeat;
    background-size: contain;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
