.programs {
  padding-top: 24px;
}

.programs__title {
  color: $black-900;
  font-family: $font-family-oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;

  margin: 0 0 29px 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.programs__desc {
  color: $gray-700;
  font-family: $font-family-arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 0 0 22px 0;
  border-bottom: 1px solid $gray-630;

  margin: 0 0 22px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.programs__item {
  background-color: $gray-900;
  padding: 22px;
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    padding: 77px 279px 53px 53px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.programs__link {
  color: $black-900;
  font-family: $font-family-oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.programs__banner {
  @media (min-width: $tablet-width) {
    min-height: 609px;
    background: url("../img/index-can-tablet-1.jpg") no-repeat;
    background-size: contain;
  }
}
