.promo {
  color: $white-900;
  font-family: $font-family-oswald;
  font-style: normal;
}

.promo__info {
  background-image: url("../img/index-background-desktop-2.jpg");
  background-color: $green-900-rgba-03;
  background-position: 0 0;

  background-repeat: no-repeat;

  padding: 27px 0 0 0;
}

.promo__intro {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  margin: 0 0 25px 0;
}

.promo__slogan {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}
