.promo-block {
  background-image: url("../img/gift-photo-mobile-1.jpg");
  background-color: $green-900-rgba-03;
  min-height: 289px;
}

.promo-block__text {
  color: $white-900;
  font-family: $font-family-arial;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}
