.promo {
  color: $white-900;
  font-family: $font-family-oswald;
  font-style: normal;
}

.promo__info {
  min-width: 302px;
  background-image: url("../img/index-background-desktop-2.jpg");
  background-color: $green-900-rgba-03;
  background-position: 0 0;
  background-repeat: no-repeat;
  padding: 27px 0 0 0;

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: inherit;
  }
}

.promo__intro {
  font-family: $font-family-oswald;
  color: $white-900;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 36px;
  margin: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $black-900;
  }
}

.promo__slogan {
  font-family: $font-family-oswald;
  color: $white-900;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $black-900;
  }
}
