.promo-block {
  background-image: url("../img/gift-photo-mobile-1.jpg");
  background-color: $green-900-rgba-03;
  min-height: 289px;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  padding-top: 58px;
  padding-bottom: 43px;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet-1.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    background-image: url("../img/gift-photo-desck-1.jpg");
  }
}

.promo-block__text {
  color: $white-900;
  font-family: $font-family-arial;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  padding: 0 61px;
}
