.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}
