$white-900: #ffffff;
$gray-900: #f2f2f2;
$gray-800: #eaeaea;
$gray-700: #444444;
$gray-670: #dcdcdc;
$gray-650: #666666;
$gray-640: #cdcdcd;
$gray-630: #d9d9d9;
$gray-620: #e6e6e6;
$gray-610: #e7e7e7;
$gray-600: #ebebeb;
$black-900: #000000;
$black-800: #222222;
$black-800: #111111;
$red-900: #ff8282;
$green-900: #68b738;
$green-900-rgba-06: rgba(104, 183, 56, 0.6);
$green-900-rgba-03: rgba(104, 183, 56, 0.3);
$white-900-rgba-06: rgba(255, 255, 255, 0.6);
$white-900-rgba-03: rgba(255, 255, 255, 0.3);
$black-900-rgba-06: rgba(0, 0, 0, 0.6);
$black-900-rgba-03: rgba(0, 0, 0, 0.3);

$font-family-oswald: "Oswald", "Arial", sans-serif;
$font-family-arial: "Arial", sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
