$white-900: #ffffff;
$gray-900: #f2f2f2;
$gray-800: #eaeaea;
$gray-700: #444444;
$gray-650: #666666;
$gray-640: #cdcdcd;
$gray-630: #d9d9d9;
$gray-620: #e6e6e6;
$gray-600: #ebebeb;
$black-900: #000000;
$black-800: #222222;
$black-800: #111111;
$green-900: #68b738;
$green-900-rgba-03: rgba(41%, 72%, 22%, 0.85);

$font-family-oswald: "Oswald", "Arial", sans-serif;
$font-family-arial: "Arial", sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
