  $white-900: #FFFFFF;
  $gray-900: #F2F2F2;
  $gray-800: #EAEAEA;
  $gray-700: #444444;
  $black-900: #000000;
  $black-800: #111111;
  $green-900: #68B738;
  $green-900-rgba-03: rgba(41%, 72%, 22%, 0.85);

  $font-family-Oswald: 'Oswald', sans-serif;
  $font-family-Arial: 'Arial', sans-serif;
