$white-900: #ffffff;
$gray-900: #f2f2f2;
$gray-800: #eaeaea;
$gray-700: #444444;
$black-900: #000000;
$black-800: #111111;
$green-900: #68b738;
$green-900-rgba-03: rgba(41%, 72%, 22%, 0.85);

$font-family-oswald: "Oswald", "Arial", sans-serif;
$font-family-arial: "Arial", sans-serif;
