@import "vendor/normalize.scss";

//global

@import "global/variables.scss";
@import "global/global.scss";
@import "mixins.scss";
@import "global/reboot.scss";
@import "global/container.scss";

//blocks

//index

@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/promo.scss";
@import "blocks/programs.scss";
@import "blocks/info.scss";
@import "blocks/social.scss";
@import "blocks/example.scss";
@import "blocks/stats.scss";
@import "blocks/slider.scss";
@import "blocks/contacts.scss";
@import "blocks/copyright.scss";
@import "blocks/main-footer.scss";
@import "blocks/button.scss";
@import "blocks/intro.scss";
@import "blocks/map.scss";

//form
@import "blocks/required-text.scss";
@import "blocks/additions-list.scss";
@import "blocks/page-main.scss";
@import "blocks/form-item.scss";
@import "blocks/cat-info-list.scss";
@import "blocks/program-list.scss";
@import "blocks/contacts-list.scss";
@import "blocks/main-form.scss";
@import "blocks/contact-item.scss";

//catalog
@import "blocks/goods-item.scss";
@import "blocks/product-detail.scss";
@import "blocks/goods-list.scss";
@import "blocks/additional-goods.scss";
@import "blocks/additional-goods-item.scss";
@import "blocks/promo-block.scss";
@import "blocks/additional-goods-detail.scss";
@import "blocks/additional-goods-list.scss";
